@import '../../styles/color.scss';

//////Personal info
h2 {
  font-size: 32px;
  margin: 15px 0;
  color: $Darkblue;
}
p {
  font-size: 16px;
  color: $gray;
}
.dflex {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
}
.info {
    .form {
      margin-top: 30px;
      .fields {
        margin-top: 25px;
        input {
          width: 100%;
          font-size: 16px;
          padding: 15px;
          border-radius: 8px;
          border: hsl(229, 24%, 87%) 1px solid;
          margin-top: 10px;
          outline: none;
          color: $Darkblue;
          font-weight: 500;
          &:focus {
            border-color: $blue;
          }
          &::placeholder {
            color: $gray;
          }
        }
        .erorr {
          border-color: $red;
        }
        label {
          color: $Darkblue;
        }
        span {
          color: $red;
        }
      }
    }
}