.addFinish{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    p{
      font-weight: 400;
      
    }
      span{
        color: #174a89;
      }
  }