$color-white: #fff;
$color-white-fade: rgba(255, 255, 255, 0.6);
$color-dark-blue: #001a41;
$color-light-blue: #e8eef1;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Rubik:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap");
$gray: hsl(231, 11%, 63%);
$blue: hsl(243, 100%, 62%);
$Darkblue: hsl(213, 96%, 18%);
$red: #c94451;
