.addonsInfo {
      margin-top: 30px;
      h2 {
        font-size: 32px;
        margin: 15px 0;
        color: $Darkblue;
      }
      p {
          font-size: 16px;
          color: $gray;
      }
      .packs{
        margin-top: 10px;
    }
  }

